.favourite {
	padding-top: 120px;
	padding-bottom: 143px;
}

.favourite__header {
	margin-bottom: 100px;
	text-align: center;
}

.favourite__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	justify-content: center;
}
